<ion-view view title="Login">
	<ion-nav-bar class="bar-stable">
	  <ion-nav-back-button class="button-clear button-positive">
	    <i class="ion-ios-arrow-back"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="First Name" ng-model="auth.firstname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Last Name" ng-model="auth.lastname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Email" ng-model="auth.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="auth.password">
			</label>
		    <button ng-click="auth.login()" class="button button-block button-positive">Register</button>
			<p class="assertive" ng-show="auth.authError">{{auth.authErrorText}}</p>
		</div>
	</ion-content>
</ion-view>